DATABASE_URL=

PORT=

JWT_KEY=

SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SUPERADMIN_NAME=

DATABASE_DB=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_DOCKER_URL=


AWS_REGION=
AWS_BACKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AWS_CLOUDFRONT_URL=
